@media screen and (min-width:1800px)
{
	#Inventory-table .coman-table tr th {
    width: 15%;
}
#Inventory-table th:nth-Child(4) {
    padding-right: 43px;
    padding-left: 0px;
}
#Inventory-table th:nth-Child(1) {
       padding-left: 41px;
    padding-right: 20px;
}

#Inventory-table th:nth-Child(2) {
       padding-left:5px;
  
}

#Client-Accounts-a th {
    width: 4%;
}
#Positionsa th {
    width: 6%;
}
#Borrow-table th:nth-Child(4){padding-right: 32px;} 
#Borrow-table th:nth-Child(5){padding-right: 35px;} 

#Borrow-table th{width: 6%;}

	}


@media screen and (max-width:1980px)
{
	

	}



@media screen and (max-width: 1200px) and (min-width: 992px) 

{
#Orders-table th {
    width: 8%;
}
#Positionsa th:nth-Child(8){
	    padding-right: 0px;
}
#Orders-table th:nth-child(5) {
	padding-left: 15px;
}
#order-table .coman-table tr th {
    width: 7%;
}
#order-table th:nth-child(6) {
	padding-left: 30px;
}
.hide-text{
	display: none;
}
#Positionsa th {
    width: 8% !important;
}
#Positionsa th:nth-Child(7) {
     padding-right: 0px !important; 
}
#Positionsa .btn-primary{
	padding: 4px;
	font-size: 10px;
    line-height: 18px;
}

#Positionsa th:nth-Child(5) {
    padding-left: 19px;
    padding-right: 0px;
}
#Positions  th{
	width: 7%;
}
#Borrow-table th:nth-Child(5) {
    padding-right: 29px;
}
#Borrow-table th:nth-Child(2) {
    padding-right: 14px;
}
#Borrow-table th:nth-Child(4) {
    padding-right: 15px;
}
#Client-Accounts-b th {
    width: 7% !important;
}
#Client-Accounts-b th:nth-Child(2) {
 padding-left: 0px;
}
#Client-Accounts-b th:nth-Child(3) {
   padding-left: 0px;
}
#Client-Accounts-b th:nth-Child(4) {
   padding-left: 0px;
}
#Client-Accounts-b th:nth-Child(7) {
    width: 11% !important;
    padding-right: 0px;
}
#Client-Accounts-b th:nth-child(6) {
     padding-right: 0px !important; 
}
#Client-Accounts-b tr th:nth-child(7) {
     padding-right: 0px; 
}


#Inventory-table
 .coman-table tr th {
    width: 7%;
}

#Inventory-table th:nth-Child(1) {
     padding-right: 20px; 
      padding-left: 26px; 
     
}
#Inventory-table th:nth-Child(4) {
     padding-right: 0px; 
       padding-left: 10px; 
}
#Client-Accounts-a th {
    width: 7%;
}
#Client-Accounts-a td {
    width: 6%;
}
#Client-Accounts-a tr th:nth-child(3) {
     padding-right: 0px; 
}
#Client-Accounts-a tr th:nth-child(4) {
     padding-right: 0px; 
}
#Client-Accounts-a tr th:nth-child(5) {
     padding-right: 0px; 
}
#Client-Accounts-a tr th:nth-child(7) {
    padding-right: 0px;
}
#Client-Accounts-a tr th:nth-child(6) {
    padding-right: 0px;
}
#Client-Accounts-a tr th:nth-child(8) {
    padding-right: 0px;
}
#Client-Accounts-a th:nth-Child(9){
	padding-right: 0px;
	padding-left: 0px;
}
#Client-Accounts-a .br-word{
	word-break: inherit;
}
#Client-Accounts-a th:nth-Child(4) {
     padding-left: 0px; 
}
#Client-Accounts-a th:nth-Child(8) {
    width: 8% !important;
   
}
#invent-table th:nth-Child(4) {
    padding-right: 0px !important;
    padding-left: 12px !important;
}

}

@media screen and (max-width: 992px) and (min-width: 768px) 

{
#Orders-table th {
    width: 11%;
}
#Positionsa th:nth-Child(8){
	    padding-right: 0px;
}
#Orders-table th:nth-child(5) {
	padding-left: 0px;
}
.hide-text{
	display: none;
}
#Inventory-table
 .coman-table tr th {
    width: 7%;
}

#Inventory-table th:nth-Child(1) {
     padding-right: 20px; 
      padding-left: 26px; 
     
}
#Inventory-table th:nth-Child(4) {
     padding-right: 0px; 
       padding-left: 10px; 
}
#Positionsa th {
    width: 8% !important;
}
#Positionsa th:nth-Child(7) {
     padding-right: 0px !important; 
}
#Positionsa .btn-primary{
	padding: 4px;
	font-size: 10px;
    line-height: 18px;
}
#Positionsa th:nth-Child(5) {
    padding-left: 19px;
    padding-right: 0px;
}
#Positions  th{
	width: 9%;
}
#Borrow-table th:nth-Child(5) {
    padding-right: 29px;
}
#order-table th:nth-child(6) {
    padding-left: 11px;
}
#order-table .coman-table tr th {
    width: 10%;
}
#Borrow-table th:nth-Child(2) {
    padding-right: 14px;
}
#Borrow-table th:nth-Child(4) {
    padding-right: 15px;
}
#Client-Accounts-b th {
    width: 7% !important;
}
#Client-Accounts-b th:nth-Child(2) {
 padding-left: 0px;
}
#Client-Accounts-b th:nth-Child(3) {
   padding-left: 0px;
}
#Client-Accounts-b th:nth-Child(4) {
   padding-left: 0px;
}
#Client-Accounts-b th:nth-Child(7) {
    width: 11% !important;
    padding-right: 0px;
}
#Client-Accounts-b th:nth-child(6) {
     padding-right: 0px !important; 
}
#Client-Accounts-b tr th:nth-child(7) {
     padding-right: 0px; 
}

#Client-Accounts-a tr th:nth-child(3) {
     padding-right: 0px; 
     padding-left: 30px;
}
#Client-Accounts-a tr th:nth-child(4) {
     padding-right: 0px; 
     padding-left: 30px;
}
#Client-Accounts-a tr th:nth-child(5) {
     padding-right: 0px; 
     padding-left:36px;
}
#Client-Accounts-a tr th:nth-child(7) {
    padding-right: 0px;
}
#Client-Accounts-a tr th:nth-child(6) {
    padding-right: 0px;
}
#Client-Accounts-a tr th:nth-child(8) {
    padding-right: 0px;
}
#Client-Accounts-a th:nth-Child(9){
	padding-right: 0px;
	padding-left: 0px;
}
#Client-Accounts-a .br-word{
	word-break: inherit;
}
#Client-Accounts-a th:nth-Child(4) {
     padding-left: 0px; 
}
#Client-Accounts-a th:nth-Child(8) {
    width: 7.5% !important;
   
}

}

@media screen and (max-width: 1360px) and (min-width: 1200px) 

{
#Orders-table th {
    width: 13%;
}
#Orders-table th:nth-child(5) {
	padding-left: 20px;
}
#invent-table th {
    width: 13% !important;
}
#invent-table th:nth-Child(3) {
    padding-right: 20px !important;
}
#invent-table th:nth-Child(4) {
    padding-right: 52px !important;
}
#Positions  th{
	width: 15%;
}
#Positionsa td {
    width: 8%;
}
#Positionsa th {
    width: 9% !important; 
}
#order-table th:nth-child(6) {
    padding-left: 0px;
}
#order-table .coman-table tr th {
    width: 20%;
}
#Positionsa th:nth-Child(7) {
     padding-right: 0px !important; 
}
#Borrow-table th:nth-Child(4) {
    padding-right: 25px;
}
#Borrow-table th:nth-child(5){
   width: 1.4%;
    text-align: left;
    padding-right: 5px;
}
#Positionsa .btn-primary{
	padding: 4px;
	font-size: 10px;
    line-height: 18px;
}
#open-table th{width: 9%;}
#open-table th:nth-Child(4) {
    padding-right: 25px;
}
#Inventory-table .coman-table tr th {
    width: 28%;
}
#Inventory-table th:nth-Child(4) {
    padding-right: 27px;
}
#Client-Accounts-a th {
    width: 7%;
}
#Client-Accounts-a td {
    width: 6%;
}
#Client-Accounts-a tr th:nth-child(3) {
     padding-right: 0px; 
     padding-left: 30px;
}
#Client-Accounts-a tr th:nth-child(4) {
     padding-right: 0px; 
     padding-left: 30px;
}
#Client-Accounts-a tr th:nth-child(5) {
     padding-right: 0px; 
     padding-left:36px;
}
#Client-Accounts-a tr th:nth-child(7) {
    padding-right: 0px;
}
#Client-Accounts-a tr th:nth-child(6) {
    padding-right: 0px;
}
#Client-Accounts-a tr th:nth-child(8) {
    padding-right: 0px;
}
#Client-Accounts-a th:nth-Child(9){
	padding-right: 0px;
	padding-left: 0px;
}
#Client-Accounts-a .br-word{
	word-break: inherit;
}
#Client-Accounts-a th:nth-Child(4) {
     padding-left: 0px; 
}
#Client-Accounts-a th:nth-Child(8) {
    width: 7.5% !important;
   
}
#Positionsa th:nth-Child(5) {
    padding-left: 19px;
    padding-right: 0px;
}
}

@media screen and (max-width: 1500px) and (min-width: 1360px) 

{
#Orders-table th {
    width: 11%;
}
#Positions  th:nth-child(4){
	padding-left: 25px;
}
#Positions  th{
	width: 9%;
}
#Positionsa td{
	width: 7.5%;
}
#Positionsa  th:nth-child(4){
	padding-left: 0px !important;
}
#Borrow-table th:nth-child(4){
	/*padding-left: 20px;*/
}
#order-table .coman-table tr th {
    width: 11%;
}
#order-table th:nth-child(6) {
    padding-left: 20px;
}
#Borrow-table th:nth-Child(4) {
   padding-right: 25px;
}
#Borrow-table th:nth-child(5){
   width: 1%;
    text-align: left;
    padding-right: 20px;
}
#Client-Accounts-b th:nth-child(3){
	padding-left: 20px;
}
#Client-Accounts-b th:nth-child(4){
	padding-left: 16px;
}
#Client-Accounts-b th {
    width: 4.5%;
}
#order-table .coman-table tr th:nth-Child(5){
		padding-right: 0px;
	}
	#Client-Accounts-a th {
    width: 5%;
}
#invent-table th:nth-Child(3) {
    padding-right: 20px !important;
}
#invent-table th:nth-Child(4) {
    padding-right: 52px !important;
}

#Client-Accounts-a tr th:nth-child(3) {
     padding-right: 0px; 
     padding-left: 30px;
}
#Client-Accounts-a tr th:nth-child(4) {
     padding-right: 0px; 
     padding-left: 30px;
}
#Client-Accounts-a tr th:nth-child(5) {
     padding-right: 0px; 
     padding-left:36px;
}
#Client-Accounts-a tr th:nth-child(7) {
    padding-right: 0px;
}
#Client-Accounts-a tr th:nth-child(6) {
    padding-right: 0px;
}
#Client-Accounts-a tr th:nth-child(8) {
    padding-right: 0px;
}
#Client-Accounts-a th:nth-Child(9){
	padding-right: 0px;
	padding-left: 0px;
}
#Client-Accounts-a .br-word{
	word-break: inherit;
}
#Client-Accounts-a th:nth-Child(4) {
     padding-left: 0px; 
}
#Client-Accounts-a th:nth-Child(8) {
    width: 7.5% !important;
   

}
#Inventory-table th:nth-Child(4) {
    padding-right:40px;
}

}
@media screen and (max-width: 1800px) and (min-width:1550px) 

{
#Orders-table th {
    width: 9%;
}
#Client-Accounts-b th:nth-child(3){
	padding-left: 0px;
}
#Client-Accounts-b th:nth-child(4){
	padding-left: 0px;
}
#Client-Accounts-b th {
	 width: 4%;
  }
#Positions  th:nth-child(4){
	padding-left: 25px;
}
#order-table .coman-table tr th:nth-Child(5){
		padding-right: 0px;
	}
#Positions  th{
	width: 7%;
}
#invent-table th:nth-Child(3) {
    padding-left: 10px !important;
}
#invent-table th:nth-Child(4) {
    padding-right: 14px !important;
}
#order-table th:nth-child(6) {
    padding-left: 20px;
}
#order-table .coman-table tr th {
    width: 8%;
}
#Positionsa  th:nth-child(4){
	padding-left: 0px !important;
}
#Inventory-table .coman-table tr th {
    width: 18%;
}
#Inventory-table th:nth-Child(1) {
    padding-left: 20px;
}
#Inventory-table th:nth-Child(4) {
    padding-right:40px;
}

}
@media screen and (max-width: 1980px) and (min-width: 1800px) 

{

}
@media screen and (max-width:1800px)
{

	}
@media screen and (max-width:1600px)
{
	
	}

	@media screen and (max-width:1540px)
{
#Orders-table th {
    width: 10%;
}
#Positions-a tr th:nth-child(5) {
    padding-right: 9px;
}
#Positions-a th:nth-child(10){
  padding-right: 18px;
}
#Positions-a th:nth-child(8) {
    padding-right: 24px !important;
}
#Positions-a th:nth-child(9){
  padding-right:28px !important;
}
#Positionsa .btn-primary{
    font-size: 10px;
}
#Positions-a tbody {
    max-height: 340px !important;

}
#Orders-table th:nth-child(2){
	 padding-left: 9px;
}
#Orders-table th:nth-child(3){
	 padding-right: 10px;
}
#Orders-table th:nth-child(4){
	 padding-left: 0px;
}
#order-table .coman-table tr th:nth-Child(5) {
    padding-right: 19px !important;
}
#Positions th:nth-child(4) {
    padding-left: 0px;
}
#Orders-table th:nth-child(5){
	 padding-left: 0px;
}
#Orders-table th:nth-child(6){
     padding-left: 17px;
}
#Client-Accounts-b th:nth-child(4) {
    padding-left: 6px;
    padding-right: 15px;
}
#Client-Accounts-b th:nth-child(3) {
    padding-left: 0px;
    padding-right: 11px;
}
#Client-Accounts-b th:nth-child(2) {
    padding-left: 0px;
    padding-right: 7px;
}
#Client-Accounts-b th {
    width: 5%;
}
#Borrow-table th:nth-Child(5) {
    padding-right: 26px;
}
#Borrow-table th{
	width: 8%;
}
#Borrow-table th:nth-Child(3){
    padding-right: 11px;
}
#Borrow-table th:nth-Child(4) {
    padding-right: 30px;
}
#Inventory-a  .coman-table tr th:nth-child(3){
	  padding-right: 10px;
}

	#order-table .coman-table tr th {
    width: 10%;
}
#Client-Accounts-a tr th:nth-child(3) {
    padding-right: 10px;
}
#Client-Accounts-a tr th:nth-child(4) {
    padding-right: 27px;
}
#Inventory-table th:nth-Child(4) {
    padding-right: 39px;
}
#Inventorya th:nth-child(3){
	    padding-left: 10px;
}
#Inventory-table th:nth-Child(1) {
    padding-left: 22px;
}
#Inventory-table .coman-table tr th {
    width: 19%;
}
#Inventorya th:nth-child(2) {
    padding-left: 17px;
}

#Client-Accounts-a tr th:nth-child(3) {
    padding-right: 13px;
}
#Client-Accounts-a tr th:nth-child(2) {
    padding-left: 10px;
}
#Client-Accounts-a tr th:nth-child(6) {
    padding-right: 45px;
}
.left-content .table thead tr  th:nth-Child(1) {
    padding-right: 24px !important;
}
.left-content .table thead tr th {
    padding-right: 27px !important;
}
#order-table .coman-table tr th:nth-Child(4) {
    padding-right: 17px;
}
#order-table .coman-table tr th:nth-Child(2) {
    padding-right: 11px;
}
#order-table th:nth-child(6) {
    padding-left: 20px;
}
#order-table .coman-table tr th:nth-child(6) {
    padding-left: 10px;
}
#order-table .coman-table tr th:nth-child(7) {
    padding-left: 10px;
}
#Positionsa th {
    width: 8%;
}
#Positionsa  th:nth-child(8){
	padding-right: 0px;
}
#Positionsa tr th:nth-child(5) {
    padding-left: 0px;
}
#Positionsa  th:nth-child(4){
	padding-left: 0px !important;
	padding-right: 3px;
}
#Positionsa  th:nth-child(1){
	padding-left: 7px !important;
}
#Positionsa  th:nth-child(2){
	padding-left: 7px !important;
}
#Inventorya th:nth-child(4) {
    padding-right: 7px;
}

	#open-table th:nth-Child(4) {
    padding-right: 24px;
}
#Client-Accounts-a tr th:nth-child(8) {
    padding-right: 29px;
}
#Client-Accounts-a th:nth-Child(4) {
    padding-left: 8px;
}
#open-table th:nth-Child(5) {
    padding-right: 8px;
}
#open-table th:nth-Child(2) {
    padding-right: 0px;
}
#open-table th:nth-Child(3) {
    padding-right: 0px;
}
#open-table tr td {
    width: 8%;
}
#open-table th {
    width: 13%;
}
#open-table th:nth-Child(4) {
    padding-right: 12px;
}
#Inventory-table tr th:nth-Child(2){
	 padding-left: 12px;

}   
#Inventory-a th{padding-left: 6px;}
 
#Client-Accounts-a tr th:nth-child(5) {
    padding-right: 37px;
}
#invent-table th:nth-Child(1) {
    padding-left: 29px;
}
#invent-table th:nth-Child(2) {
    padding-left: 28px !important;
}
#order-table .coman-table tr th:nth-Child(3) {
    padding-right: 7px;
}
#invent-table th:nth-Child(4) {
    padding-right: 8px !important;
}
#invent-table th:nth-Child(3) {
    padding-left: 24px !important;
}
#invent-table th:nth-Child(2) {
    padding-left: 21px;
}
#Positionsa th:nth-child(9){
	padding-right: 3px;
}
#Positionsa td {
    width: 9.2%;
    padding-left: 0px;
}
#Positionsa tr th:nth-child(3) {
    padding-right: 13px;
}
#Positions th {
    width: 10% !important;
}
#Positionsa th{
    width: 9% !important;
}
}

@media screen and (max-width:1440px){
#order-table .coman-table tr th {
    width: 10%;
}
#Orders-table th {
    width: 12%;
}
#order-table .coman-table tr th:nth-child(7){padding-left: 15px;}
#Borrow-table th {
    width: 1%;
}
#Borrow-table th:nth-Child(4) {
    padding-right: 17px;
}
#Borrow-table th:nth-Child(4) {
    padding-right: 31px;
}
#Positions-a th:nth-child(2) {
    padding-left: 0px !important;
}
#Borrow-table th:nth-Child(5) {
    padding-right: 23px;
}
#Positions-a tr th:nth-child(3) {
    padding-right: 23px;
}
#Client-Accounts-b th:nth-child(4) {
    padding-left: 0px;
    padding-right: 0px;
}
#Positionsa th:nth-child(5) {
    padding-left: 2px;
}
#Client-Accounts-b th:nth-child(5) {
      padding-right: 5px;
   
}
#Inventorya th:nth-child(4) {
    padding-right: 4px;
}
#Client-Accounts-b tr th:nth-child(7) {
    padding-right: 52px;
}
#Client-Accounts-b th:nth-child(8) {
      padding-right: 20px;
   
}
#Client-Accounts-b tr th:nth-child(6) {
    padding-right: 44px;
}



#Client-Accounts-b th:nth-child(2) {
    padding-left: 5px;
    padding-right: 1px;
}
#Client-Accounts-b th:nth-child(3) {
    padding-left: 0px;
    padding-right: 0px;
}
#order-table th:nth-child(6) {
    padding-left: 21px;
}
#order-table .coman-table tr th:nth-Child(5) {
    padding-right: 5px;
}
#order-table .coman-table tr th:nth-Child(4) {
    padding-right: 14px;
}
#Positionsa th:nth-child(8) {
    padding-right: 24px;
}
#Positionsa th:nth-child(7) {
    padding-right: 15px;
}
#Inventorya th:nth-child(2) {
    padding-left: 14px;
}
#Client-Accounts-a tr th:nth-child(9) {
       padding-right: 17px;
}
#Client-Accounts-a tr th:nth-child(8) {
    padding-right: 10px;
}
#invent-table th:nth-Child(2) {
    padding-left: 9px !important;
}
#Client-Accounts-a tr th:nth-child(7) {
    padding-right: 35px;
}
#invent-table th {
    width: 10% !important;
}
#invent-table th:nth-Child(4) {
    padding-right: 41px !important;
}
#Client-Accounts-a tr th:nth-child(6) {
    padding-right: 12px;
}
#Client-Accounts-a tr th:nth-child(5) {
    padding-right: 0px;
    padding-left: 23px;
}
#Client-Accounts-a tr th:nth-child(3) {
    padding-right: 0px;
    padding-left:15px;
}
#Client-Accounts-a tr th:nth-child(4) {
    padding-right: 0px;
    padding-left: 18px
}
#Client-Accounts-a th {
    width: 6.5%;
}

#Client-Accounts-a tr th:nth-child(2) {
    padding-left: 14px;
}	
#Client-Accounts-a tr th:nth-child(1) {
    padding-left: 13px;
}
#Inventory-table th:nth-Child(4) {
    padding-right: 31px;
}
#Inventory-table th:nth-Child(1) {
    padding-left: 28px;
}
#Inventory-table .coman-table tr th {
    width: 19%;
}
#Inventory-table th:nth-Child(2) {
    padding-left: 16px;
}
#Inventory-table th:nth-Child(3) {
    padding-left: 10px;
}

#Positionsa th {
    width: 9%;
}
#Positionsa th:nth-child(3) {
    padding-left: 21px;
}
#Positionsa th:nth-child(9){
	padding-right: 24px;
}
#Positionsa th:nth-child(5) {
    padding-left: 5px;
}	
#Orders-table th:nth-child(5) {
    padding-left: 0px;
}
#Orders-table th:nth-child(4) {
    padding-right: 10px;
    padding-left: 0px;
}
#Orders-table th:nth-child(3) {
    padding-left: 12px;
}
#Orders-table th:nth-child(6)
{
    padding-left: 10px;
}
}
@media screen and (max-width:1370px){
#order-table .coman-table tr th {
    width: 11% !important;
}
#Orders-table th {
    width: 12%;
}
#order-table .coman-table tr th:nth-Child(3) {
    padding-right: 11px;
}
#Borrow-table th {
    width: 1%;
}

#Inventory-table tr th:nth-Child(2) {
    padding-left: 15px;
}
#Borrow-table th:nth-Child(4) {
    padding-right: 30px;
}
#order-table .coman-table tr th:nth-Child(2) {
    padding-right: 5px;
}
#Borrow-table th:nth-Child(4) {
    padding-right: 33px;
}
#Borrow-table th:nth-Child(3) {
    padding-right: 11px;
    padding-left: 0px;
}
#Borrow-table th:nth-Child(5) {
    padding-right: 13px;
    width: 1.5%;
}
#Last th:nth-Child(2) {
    padding-right: 16px;
}
#Client-Accounts-b th:nth-child(4) {
    padding-left: 10px !important;
    padding-right: 0px;
}
#Positionsa th:nth-child(5) {
    padding-left: 2px;
}
#Client-Accounts-b th:nth-child(5) {
      padding-right: 5px;
   
}
#Client-Accounts-b tr th:nth-child(7) {
    padding-right: 37px;
}
#Client-Accounts-b th:nth-child(8) {
      padding-right: 20px;
   
}
#Client-Accounts-b tr th:nth-child(6) {
    padding-right: 44px;
}



#Client-Accounts-b th:nth-child(2) {
    padding-left: 7px;
    padding-right: 6px;
}
#Client-Accounts-b th:nth-child(3) {
    padding-left: 7px !important;
    padding-right: 0px;
}
#order-table th:nth-child(6) {
    padding-left: 11px;
}
#order-table .coman-table tr th:nth-Child(5) {
    padding-right: 3px !important;
}
#order-table .coman-table tr th:nth-Child(4) {
    padding-right: 12px;
}
#Positionsa th:nth-child(8) {
    padding-right: 13px;
}
#Client-Accounts-a tr th:nth-child(9) {
       padding-right: 17px;
}
#open-table th:nth-Child(5) {
    padding-right: 23px;
}
#Positionsa tr th:nth-child(3) {
    padding-right: 20px;
}

#Positionsa tr th:nth-child(5) {
    padding-left: 10px;
}
#open-table th:nth-Child(4) {
    padding-right: 16px;
}
.left-content .table thead tr th:nth-Child(1) {
    padding-right: 21px !important;
}
#open-table th:nth-Child(3) {
    padding-right: 5px;
}
#Client-Accounts-a tr th:nth-child(8) {
    padding-right: 10px;
}
#invent-table th:nth-Child(2) {
    padding-left: 18px !important;
}

#Client-Accounts-a tr th:nth-child(7) {
    padding-right: 23px;
}
#invent-table th {
    width: 10% !important;
}
#invent-table th:nth-Child(4) {
    padding-right: 24px !important;
}
#Client-Accounts-a tr th:nth-child(6) {
    padding-right: 0px;
}
#Client-Accounts-a tr th:nth-child(5) {
    padding-right: 0px;
    padding-left: 21px;
}
#Positionsa td {
    width: 11.2%;
    padding-left: 0px;
}
#Client-Accounts-a tr th:nth-child(3) {
    padding-right: 0px;
    padding-left: 16px;
}
#Client-Accounts-a tr th:nth-child(4) {
    padding-right: 0px;
    padding-left: 20px;
}
#Client-Accounts-a th {
    width: 6%;
}

#Client-Accounts-a tr th:nth-child(2) {
    padding-left: 12px;
}	
#Client-Accounts-a tr th:nth-child(1) {
    padding-left: 6px;
}
#Inventory-table th:nth-Child(4) {
    padding-right: 18px;
}
#Inventory-table th:nth-Child(1) {
    padding-left: 28px;
}
#order-table .coman-table tr th:nth-child(6) {
    padding-left: 22px;
}
#Inventory-table th:nth-Child(2) {
    padding-left: 16px;
}
#order-table .coman-table tr th:nth-child(6) {
    padding-right: 19px;
}   
#Inventory-table th:nth-Child(3) {
    padding-left: 14px !important;
}
#Inventory-table .coman-table tr th {
    width: 21%;
}
#Positionsa th {
    width: 9%;
}
#Positionsa th:nth-child(3) {
    padding-left: 21px;
}
#Positionsa th:nth-child(9){
	padding-right: 28px;
}
#Positionsa th:nth-child(4) {
    padding-left: 8px !important;
}
#Positionsa th:nth-child(6) {
   padding-right: 0px;
}
#open-table th:nth-Child(2) {
    padding-right: 6px;
}
#Positionsa th:nth-child(5) {
    padding-left: 8px;
}
#Orders-table th:nth-child(5) {
    padding-left: 0px;
    padding-right: 7px;
}
#Orders-table th:nth-child(6)
{
    padding-left: 18px;  padding-right: 6px;
}
#Orders-table th:nth-child(2) {
    padding-left: 7px;
}
#invent-table th:nth-Child(3) {
    padding-right: 5px !important;
}
#Orders-table th:nth-child(4) {
    padding-right: 15px;
    padding-left: 0px;
}
}
@media screen and (max-width:1280px){
#order-table .coman-table tr th {
    width: 12% !important;
}
#Orders-table th {
    width: 13%;
}
#Borrow-table th {
    width: 1%;
}
#Positionsa td {
    width: 6%;
    padding-left: 0px;
}
#Borrow-table th:nth-Child(4) {
    padding-right: 17px;
}
#Borrow-table th:nth-Child(4) {
    padding-right: 23px;
}
#Borrow-table th:nth-Child(3) {
   
    padding-right: 19px;
    padding-left: 0px;
}
#Borrow-table th:nth-Child(5) {
    padding-right: 14px;
}
#Client-Accounts-b th:nth-child(4) {
    padding-left: 0px;
    padding-right: 4px;
}

#Positions th:nth-child(4) {
     padding-left: 0px; 
}
#Positionsa th:nth-child(5) {
    padding-left: 2px;
}
#Client-Accounts-b th:nth-child(5) {
      padding-right: 5px;
   
}
#Client-Accounts-b tr th:nth-child(7) {
    padding-right: 52px;
}
#Client-Accounts-b th:nth-child(8) {
      padding-right: 20px;
   
}
#Client-Accounts-b tr th:nth-child(6) {
    padding-right: 44px;
}



#Client-Accounts-b th:nth-child(2) {
    padding-left: 0px;
    padding-right: 10px;
}
#Client-Accounts-b th:nth-child(3) {
    padding-left: 0px;
    padding-right: 4px;
}
#order-table th:nth-child(6) {
    padding-left: 21px;
}
#order-table .coman-table tr th:nth-Child(5) {
    padding-right: 5px !important;
}
#order-table .coman-table tr th:nth-Child(4) {
    padding-right: 13px;
}
#Positionsa th:nth-child(8) {
    padding-right: 20px;
}
#Positionsa th:nth-Child(7) {
    padding-right: 11px !important;
}
#Inventory-table .coman-table tr th {
    width: 20%;
}
#Client-Accounts-a tr th:nth-child(9) {
       padding-right:0px;
}
#Client-Accounts-a tr th:nth-child(8) {
    padding-right: 10px;
}
#invent-table th:nth-Child(2) {
    padding-left: 13px !important;
        padding-right: 0px !important;
}
#Client-Accounts-a tr th:nth-child(7) {
    padding-right: 27px;
}
#Inventory-table tr th:nth-Child(2) {
    padding-left: 27px;
}
#invent-table th {
    width: 10% !important;
}
#invent-table th:nth-Child(4) {
    padding-right: 23px !important;
}
#Client-Accounts-a tr th:nth-child(6) {
    padding-right: 0px;
}
#Client-Accounts-a tr th:nth-child(5) {
    padding-right: 3px;
    padding-left: 0px;
}
#Client-Accounts-a tr th:nth-child(3) {
    padding-right: 0px;
    padding-left: 3px;
}
#Client-Accounts-a tr th:nth-child(4) {
    padding-right: 3px;
    padding-left: 0px;
}
#Positionsa th:nth-child(1) {
    padding-left: 6px !important;
}
#Client-Accounts-a th {
    width: 6%;
}
#Positionsa th:nth-child(2) {
    padding-left: 4px !important;
}

#Client-Accounts-a tr th:nth-child(2) {
    padding-left: 12px;
}	
#Client-Accounts-a tr th:nth-child(1) {
    padding-left: 13px;
}
#Inventory-table th:nth-Child(4) {
    padding-right: 7px;
}
#Inventory-table th:nth-Child(1) {
    padding-left: 28px;
}
#Inventory-table th:nth-Child(2) {
    padding-left: 16px;
}
#Inventory-table th:nth-Child(3) {
    padding-left: 26px;
}

#Positionsa th {
    width: 10% !important;
}
#Positionsa th:nth-child(3) {
    padding-left: 21px;
}
#Positionsa th:nth-child(9){
	padding-right: 21px;
}
#Positionsa th:nth-child(5) {
    padding-left: 0px;
     padding-right: 3px;
}	
#Orders-table th:nth-child(5) {
    padding-left: 7px;
}
#Orders-table th:nth-child(4) {
    padding-right: 10px;
    padding-left: 0px;
}
#Positionsa th:nth-child(4) {
    padding-left: 0px !important;
    padding-right: 7px;

}
#Positions-a tr th:nth-child(5) {
    padding-right: 0px;
}
#Positions-a tr th:nth-child(3) {
    padding-right: 10px;
}
#Positions-a th:nth-child(8) {
    padding-right: 18px !important;
}
}
@media screen and (max-width:1360px)
{
	/*.short-sale-form{ padding: 25px 20px 20px 20px; }*/
	.form-steps{ width:40%; }






#Positionsa th {
    width: 7%;
}
#Client-Accounts-a th {
    width: 6%;
}
#Client-Accounts-a th {
    width: 8%;
}
#Client-Accounts-b th {
    width: 6%;
}

#Inventory-table th:nth-Child(2) {
    padding-right: 10px;
}
/*#Positions th:nth-Child(4) {
    padding-left: 20px;
}*/
#Positionsa th:nth-Child(7){
	padding-right: 30px;
}



}

@media screen and (min-width:1283px)
{
	/*.short-sale-form{ padding: 25px 20px 20px 20px; }*/
	.form-steps{ width:40%; }
	/*#Positionsb th{width: 7%;}*/
	#Client-Accounts th {
    width: 9%;
}
}
@media screen and (min-width:1430px)
{
	/*.short-sale-form{ padding: 25px 20px 20px 20px; }*/
	
	#Positionsb th{width: 6%;}
	
}

@media screen and (max-width:1366px)
{
	/*.short-sale-form{ padding: 25px 20px 20px 20px; }*/
	.form-steps{ width:40%; }

	
}

@media screen and (max-width:1300px)
{
	
}




@media screen and (max-width:1023px)
{		
	
	
}

@media screen and (max-width:768px)
{
	nav.navbar-static-top .navbar-right{ margin-right:15px;   }
	
	.navbar-minimalize.minimalize-styl-2.btn{ display: block; height: auto; margin: 24px 15px 5px 20px; z-index: 900000;    bottom: 15px; position: absolute; right: 0; }
	
	.body-small .navbar-static-side{ width: 220px !important; background-color: #0f0f1b;     margin-top: 63px;}
	body.mini-navbar #page-wrapper{ margin: 0 0 0 0px;  }
	nav.navbar-static-top .navbar-right{     position: absolute;
    top: 7px;
    right: 0px; }
	.logo-element{ padding: 27px 0 19px 0;  display: none!important; }
	.hidden-xs{display: none;}
	
.nav.navbar-top-links .count-info {
	    padding-right: 30px;
    padding-top: 0px;
}
	.main-tab-section .nav-tabs li a {
    
    padding: 6px 17px;
  
}
#order-table .coman-table tr th {
    width: 11%;
}

.left-content{
	padding-top: 0px;
}
#open-table th:nth-Child(4) {
     padding-right: 0px; 
}
#Inventory-table th:nth-Child(4) {
    padding-right: 44px;
}
	.nav-header{
		display: none !important;
	}
	.hide-text{
		display: none;
	}
	#Borrow-table th:nth-Child(4) {
     padding-right: 0px; 
}

#Orders-table th {
    width: 11%;
}
}


@media screen and (max-width:767px)
{ 
	.main-tab-section .tab-content {
    padding-top: 115px !important;
}

	#dlcc-admin select{  margin-bottom: 10px;}
	.short-sale-form-a{margin-bottom: 20px;}
	.short-sale-form-a .m-t-md{    margin-top: 0px;}
 .short-sale-form-a .m-t-md.int-btn-a{ margin-top: 10px;}
	.adm-menu ul.dropdown-menu{ margin-left:0; }
	.form-title h2{ float: none; }
	.form-steps{ width: auto; float: right !important; padding: 20px 0 0 0; }
	.form-steps ul li .box h4{ padding: 6px 0 0 0; }
	nav.navbar-static-top .navbar-right{ float: right; }
	.table-part{ margin-bottom: 40px; }
	.short-sale-form{ margin-bottom: 40px; padding: 15px 15px 1px 15px; }
	.chart-section{ margin-bottom: 40px; }
	.table-responsive{ border: none; }
	.modal .modal-dialog{ width:auto !important; margin: 20px 15px; }
	.modal-body{ padding: 15px; }
	.coman-table{ position: relative; z-index: 10; }

	.nav.navbar-top-links li.adm-menu {
   
    padding-left: 21px;

}
.left-content2{
	margin-top: 50px;
}
.left-main-menu .nav-header {
   
    min-height: 49px;
}

 .left-content2 
 {    border: 2px solid #fff; border-left: 0px;}
.left-content
 {    border: 2px solid #fff; border-left: 0px; padding: 0px;  margin-top: 50px;}
.main-tab-section .navbar-left{
	
	padding-bottom: 10px;
	    margin-top: 50px;
}
.main-tab-section {
	
	padding-bottom: 10px;
	     float: left;
	     width: 100%;
	       background: #0f0f1b;
}
.main-tab-section.tab-content {
     padding-top: 0px; 
    
     margin-top: 0px;
}
.nav.navbar-top-links .count-info {
    padding-right: 0px;
    padding-top: 0px;
}
nav.navbar-static-top .navbar-right {
     margin-right: 0px; 
}
	
	.navbar-minimalize.minimalize-styl-2.btn{ display: block; height: auto; margin: 24px 15px 5px 20px;    bottom: -42px; position: absolute; right: 0; }
}

@media screen and (max-width:479px)
{
	.nav.navbar-top-links li.adm-menu{ display:inline-block; }
	.main-tab-section .nav-tabs li{  width: auto; }
	.table-heading h2{ float:none; padding: 0 0 10px 0; }
	.sort-box{ float:none; }
	.sort-box h3{ padding: 5px 15px 9px 0; }
	.sort-box .form-control{ float:none; width: 100%;  }
	.main-tab-section .nav-tabs{float: left;}
	.margin-top-10{
		margin-top: 10px;
	}.margin-top-10-a{
		margin-top: 10px;
		margin-left: 0px;
	}

.margin-right-10-a{
		
		margin-right: 10px;
	}

	
	
}
@media screen and (max-width:547px)
{ 
	.margin-top-10-a{margin-top: 10px;}
}
@media screen and (max-width:320px)
{
	
.main-tab-section .nav-tabs li a {
    
    padding: 6px 17px;
  
}
	
	.logo {
    max-width: 248px;
    margin: 0 auto;
    padding: 10px;
}
.logo img {
    width: 100%;
}
.navbar-minimalize.minimalize-styl-2.btn {
    display: block;
    height: auto;
     margin: 24px 15px 5px 20px; 
    bottom: -40px;
    position: absolute;
    right: 0;
}
.profile-img{
	    padding-top: 5px;
}
.left-content {
   padding: 0px;
}


}



